<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Verify Mail</title>
  </head>
  <body>
    <h2>Hello {{name}}! </h2>
    <p>We're glad to have you on board at Art Gallery. To accessing our feature
      , please verify your account by clicking on below Button
    </p>
    <a type="button" href='{{baseUrl}}/api/verifyEmail/{{code}}' class="btn btn-success">Verify</a>
  </body>
</html>